body {
    background-color: #fffbf0;
}
.logo {
    display: flex;
    justify-content: flex-end;
    padding: 40px 40px 0px 0px;

}
.logo img {
    max-width: 250px;
}
.link-list {
    list-style-type: none;
    margin: 0;
    text-align: center;
    margin-top: -180px;
}
.link-list li {
    margin-bottom: 40px;
}
.link-list li a {
    text-decoration: none;
}
.link-list li a img {
    max-width: 650px;

}

.link-list li a:hover img{
    filter: invert(19%) sepia(44%) saturate(6849%) hue-rotate(293deg) brightness(114%) contrast(129%);
}
