html {
    overflow-x: hidden;
}
body {
    background-color: #242d30;
    overflow-x: hidden;
}

.logo {
    display: flex;
    justify-content: flex-end;
    padding: 40px 40px 0px 0px;

}
.logo img {
    max-width: 250px;
    filter: invert(100%) sepia(42%) saturate(112%) hue-rotate(327deg) brightness(110%) contrast(100%);
}
.link-list {
    list-style-type: none;
    margin: 0;
    text-align: center;
    margin-top: -140px;
}
.link-list li {
    margin-bottom: 40px;
}
.link-list li a {
    text-decoration: none;
}
.link-list li a img {
    width: 500px;
    height: 50px;
    filter: invert(100%) sepia(42%) saturate(112%) hue-rotate(327deg) brightness(110%) contrast(100%);

}

.top-single a img {
    max-width: 450px;
}
.top-single {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.fav-link {
    font-size: 32px;
    color: #FFF;
    text-decoration: none;
}

.link-list li a:hover img{
    filter: invert(19%) sepia(44%) saturate(6849%) hue-rotate(293deg) brightness(114%) contrast(129%);
}
.w-100 {
    width: 100%;
}
.container-custom {
    padding: 50px;
}
.img-single {
    margin-bottom: 15px;
    margin-top: 15px;
}
.img-single a img {
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
}
.heart-icon i {
    color: #0d6efd;
    position: absolute;
    bottom: 10px;
    right: 22px;
    opacity: 0.9;
    font-size: 40px;
}
.heart-icon {
    cursor: pointer;
} 

.favorite-cls .heart-icon i {
    color: red; 
}


.text {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-size: 3em;
    color: white;
    font-weight: 800;
}
.menu-tab {
    width: 90px;
    height: 70px;
    top: 45px;
    left: 28px;
    position: absolute;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}
.category-logo {
    filter: invert(100%) sepia(42%) saturate(112%) hue-rotate(327deg) brightness(110%) contrast(100%);
}
.menu-tab div {
    width: 33px;
    height: 4px;
    background-color: white;
    display: block;
    margin: 5px 28px;
    transition: all 0.6s ease-in-out;
}
.menu-tab div:nth-child(1) {
    margin-top: 20px;
}
/*end of menu-tab*/
.menu-tab.active {
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 570px;
    transition: all 600ms ease-in-out;
    
}
.menu-tab.active #one {
    transform: translateY(9px) rotate(-135deg);
    transition: all 0.6s ease-in-out;
    background-color: white;
}
.menu-tab.active #two {
    opacity: 0;
    transition: 0.4s ease;
}
.menu-tab.active #three {
    transform: translateY(-9px) rotate(-45deg);
    transition: all 0.6s ease-in-out;
    background-color: white;
}
.menu-hide {
   opacity: 0;
    width: 645px;
    left: -1545px;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0px;
    transition: all 0.6s ease-in-out;
   /*end of nav*/
}
.menu-hide nav {
   /*end of ul*/
}
.menu-hide nav ul {
   /*end of li*/
}
.menu-hide nav ul li {
    height: 70px;
    list-style-type: none;
    text-align: center;
    line-height: 70px;
    transition: all 0.5s ease;
}
.menu-hide nav ul li:hover a img {
    filter: invert(19%) sepia(44%) saturate(6849%) hue-rotate(293deg) brightness(114%) contrast(129%);
 
}
.menu-hide nav ul li a {
    padding: 30px 25px;
    text-decoration: none;
    color: white;
    font-weight: 800;
}
/*end of menu-hide*/
.menu-hide.show {
    opacity: 1;
    left: 0px;
    background-color: #242e30;
    transition: all 0.6s ease-in-out;
}
.lazyload {
    background-color: #5b5b5b;
    min-height: 250px !important;
    border: 0px;

}

.menu-nav-list {
    padding-left: 0;
    margin-top: 100px;
}

.menu-nav-list li {
    margin: 30px 0;
}
.menu-nav-list li a img {
    height: 40px;
    filter: invert(100%) sepia(42%) saturate(112%) hue-rotate(327deg) brightness(110%) contrast(100%);
}


.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
  }





