@font-face {
  font-family: 'Almarai';
  src: url("../fonts/Almarai-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html, body{
	font-family: "Almarai"; 
	margin:0px;
	padding:0px; 
}


.heading {
  padding: 2px;
  text-align: center;
}

div.summary_txt {
  padding: 5px;
  text-align: center;
}

.item_thumb {
	border:1px solid #aaa;
	padding:2px;
	-webkit-border-radius: 5px;  
	-moz-border-radius: 5px;  
	border-radius: 5px;
	margin:3px;	
}

img.img-thumbnail{
	border:none;
}

.col-md-4 {
	width:32.5%;
}



/* 
div.category-item {
  border: 1px solid #ccc;
}

div.category-item:hover {
  border: 1px solid #777;
}

div.category-item img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.row {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .row {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .row {
    width: 100%;
  }
} */
 
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}